
@font-face {
    font-family: 'Montserrat';
    src: url('../font/subset-Montserrat-Medium.woff2') format('woff2'),
        url('../font/subset-Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../font/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../font/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/subset-Montserrat-Light.woff2') format('woff2'),
        url('../font/subset-Montserrat-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


